<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [167]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')
df["gender"] = df["gender"].map({1:"W",2:"M"})

Посмотрим не первые 5 записей.

In [90]:
df.head(11)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,M,168,62.0,110,80,1,1,0,0,1,0
1,20228,W,156,85.0,140,90,3,1,0,0,1,1
2,18857,W,165,64.0,130,70,3,1,0,0,0,1
3,17623,M,169,82.0,150,100,1,1,0,0,1,1
4,17474,W,156,56.0,100,60,1,1,0,0,0,0
8,21914,W,151,67.0,120,80,2,2,0,0,0,0
9,22113,W,157,93.0,130,80,3,1,0,0,1,0
12,22584,M,178,95.0,130,90,3,3,0,0,1,1
13,17668,W,158,71.0,110,70,1,1,0,0,1,0
14,19834,W,164,68.0,110,60,1,1,0,0,0,0
15,22530,W,169,80.0,120,80,1,1,0,0,1,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [4]:
df.groupby(by="gender")["weight","height"].mean()

           weight      height
gender
1       72.565605  161.355612
2       77.257307  169.947895

In [5]:
df.groupby(by="gender")["weight","height"].count()

        weight  height
gender
1        45530   45530
2        24470   24470

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [163]:
df["gender"] = df["gender"].map({1:"W",2:"M"})
pd.crosstab(df['gender'],df['alco'])

Empty DataFrame
Columns: []
Index: []

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [12]:
o=df.groupby(by="gender")["smoke"].value_counts(normalize=True)
print(o)
o[1]//o[3]

gender  smoke
M       0        0.781120
        1        0.218880
W       0        0.982144
        1        0.017856
Name: smoke, dtype: float64

12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [8]:
(df['age']/(12*4*7)).head(10)

id
0     54.741071
1     60.202381
2     56.122024
3     52.449405
4     52.005952
8     65.220238
9     65.812500
12    67.214286
13    52.583333
14    59.029762
Name: age, dtype: float64

In [13]:
median_age=df.groupby(['smoke'])['age'].median()
print(median_age)
(median_age[0]-median_age[1])/30

smoke
0    19722
1    19125
Name: age, dtype: int64

19.899999999999999

# **<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет: первая с верхним артериальным давлением меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [97]:
df['age_years']=df['age']//365


#df["gender"] = df["gender"].map({1:"W",2:"M"})
def down(x):
    if x<120:
        return 120
    sub=x%20
    if sub!=0:
        return (x-sub)+20
    return x
df['new_ap']=df['ap_hi'].apply(down)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,new_ap
id,,,,,,,,,,,,,,
0,18393,M,168,62.0,110,80,1,1,0,0,1,0,50,120
1,20228,W,156,85.0,140,90,3,1,0,0,1,1,55,140
2,18857,W,165,64.0,130,70,3,1,0,0,0,1,51,140
3,17623,M,169,82.0,150,100,1,1,0,0,1,1,48,160
4,17474,W,156,56.0,100,60,1,1,0,0,0,0,47,120

In [98]:
our_age=df[(df['age_years']>=60) & (df['age_years']<65) & (df['gender']=='M')  & (df['smoke']==1)]
ill=our_age[our_age['cardio']==1]
#up_hi=our_age[(our_age['ap_hi']>=120) & (our_age['ap_hi']<=180)].sort_values(by='ap_hi',ascending=False)

pd.crosstab(our_age['new_ap'],our_age['cholesterol'])

cholesterol    1   2   3
new_ap
120          242  37  43
140          189  50  76
160           90  31  25
180           23   8   8
200            6   2   2

In [99]:
pd.crosstab(ill['new_ap'],ill['cholesterol'])

cholesterol    1   2   3
new_ap
120           83  18  31
140          125  35  62
160           80  29  23
180           21   7   8
200            5   2   2

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [102]:
df['bmi']=df['weight']/(df['height']/100)**2
df['bmi'].median()

26.374068120774975

In [95]:
df.groupby(by='gender')['bmi'].mean()

gender
M    26.754442
W    27.987583
Name: bmi, dtype: float64

In [104]:
df.groupby(by='cardio')['bmi','weight'].mean()

              bmi     weight
cardio
0       26.548175  71.592150
1       28.566061  76.822368

In [109]:
df[(df['cardio']==0) & (df['alco']==0)].groupby('gender')['bmi'].mean()

gender
M    25.872638
W    26.845407
Name: bmi, dtype: float64

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [168]:
orig=df
df=df[df['ap_lo']<df['ap_hi']]
df=df[(df['height'].quantile(q=0.975)>=df['height']) & (df['height']>=df['height'].quantile(q=0.025))]
df=df[(df['weight'].quantile(q=0.975)>=df['weight']) & (df['weight']>=df['weight'].quantile(q=0.025))]

In [169]:
o=orig['age'].count()
a=df['age'].count()
print(o)
print(a)
(o-a)/o

70000
62783

0.1031